html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,34,200,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    margin-bottom: 15%;
}

.card{
            
            display: flex;
            margin-bottom: 2%;
            background-color: rgba(82, 80, 204, 0.2);
            width: 40%;
            border-radius: 10px;
            padding: 2%;
            text-decoration: none; /* Quita el subrayado */
            cursor: pointer; /* Cambia el cursor para indicar que es clicable */
            transition: background-color 0.3s ease, transform 0.3s ease;
            border-color: black;
            border: 1px solid;
}

.card:hover{
    background-color: rgba(82, 80, 204, 0.4);
    transform: scale(1.1);
    
}

.card > .item:nth-child(n + 4) {
    margin-top: 0; /* Elimina margen superior en la segunda línea */
  }

img{
    width: 70px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1);
}

.img{
    margin-right: 3%;
}

a {
    display: block; /* O block, según el contexto */
    text-decoration: none;

}