.background-video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

h1{
    color: white;
    opacity: 0.9;
    text-align: center;
    margin-top: 8%;
    font-size: 5rem;
    letter-spacing: 1.2rem;
    margin-bottom: -5%;
    
    
}
img{
    width: 6rem;
    vertical-align: middle;
}
.login{
    margin-top: 10%;
    text-align: center;
    color: blue;
}
