body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Para evitar el desplazamiento vertical */
}
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
  font-family: Karla;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
